{{ form_errors(form) }}

{% if form.vars.data.article or form.vars.data.parent %}
<div class="ui column stackable grid">
    <div class="column">
        <strong>{{ include('@OdiseoSyliusBlogPlugin/Admin/Grid/Field/article_parent.html.twig', {'data': form.vars.data}) }}</strong>
    </div>
</div>
{% endif %}

<div class="ui column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.comment) }}
            {{ form_row(form.enabled) }}
        </div>
    </div>
</div>
